
@import "sass/header";
@import "sass/left-side-nav";
@import "sass/middle-top";
@import "sass/middle-graph";
@import "sass/middle-bottom";
@import "sass/right-side-nav";


body {
  background-color: #000;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#main-content {
  height: 100%;
  width: 50%;
}

@media screen and (min-width:375px) and (max-width: 1310px) {
  main {
    flex-direction: column;
  }

  #main-content {
    width: 100%;
  }


}
