@import "sass/header";

* {
  background-color: #000;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#l-side-nav{
  background-color: rgb(175, 171, 171);
    height: 100%;
    width: 20%;
 
}
#main-content{
  background-color: rgb(143, 195, 176);
    height: 100%;
    width: 55%;
}
#r-side-nav{
  background-color: rgb(193, 134, 134);
    height: 100%;
    width: 25%; 
    float: right;
}