#r-side-nav {
  height: 100%;
  width: 30%;
  float: right;
  color: #fff;

  .container {
    padding: 16px;

    .el-li {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      margin-bottom: 10px;

      .currency {
        width: 115px;
      }

      h2,
      span,
      p {
        font-weight: 600;
        font-size: 18px;
        margin: 8px 0px;
        padding: 0;
      }

      span {
        color: rgba(255, 255, 255, 0.8);
      }

      p {
        color: green;
      }

      .red {
        color: red;
      }
    }
  }

  .btm-container {
    .card-top,
    .card-btm {
      width: 350px;
      height: 150px;
      padding-top: 10px;
      border-radius: 30px;
      gap: 10px;
      .logo {
        display: flex;
        align-items: flex-start;
        margin-left: 20px;
        flex-direction: column;
       
        p{
          margin: 0 12px;
          padding: 0;
        }
      }

      .content {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: 21px;
        p{
          margin: 0 32px;
          padding: 0;
        }
      }
    }

    .card-top {
      background: linear-gradient(98.73deg, #611d8d 35.75%, #2f7ec1 73.26%);
    }

    .card-btm {
      margin: 16px 0px;


      p{
        color: #000;
      }
      background: linear-gradient(
        99.56deg,
        #faff00 35.82%,
        #29abe2 64.75%,
        #fff 91.33%

       
      );

    }
  }
}
